<div class="w-full max-w-xs">
  <%= form_tag(sessions_path, class: 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4') do %>
    <div class="mb-4">
      <%= label_tag(:username, 'Email', class: 'block text-gray-700 text-sm font-bold mb-2') %>
      <%= text_field_tag(:username, params[:username], class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', placeholder: 'your-email@email.com', autocomplete: 'off') %>
    </div>
    <div class="mb-6">
      <%= label_tag(:password, 'Password', class: 'block text-gray-700 text-sm font-bold mb-2') %>
      <%= password_field_tag(:password, nil, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline', placeholder: '******************', autocomplete: 'off') %>
    </div>
    <div class="flex items-center justify-between">
      <%= submit_tag('Sign in', class: 'bg-indigo-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline') %>
    </div>
  <% end %>

  <p class="text-center text-gray-500 text-xs">
    &copy;2020 Mochetts. All rights reserved.
  </p>
</div>