<nav class="flex items-center justify-between flex-wrap bg-indigo-500 p-6 w-full">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
    <%= link_to('My Vids', videos_path, class: 'font-semibold text-xl tracking-tight') %>
    <%= link_to('Library', videos_path, class: 'block ml-5 lg:inline-block lg:mt-0 text-teal-200 hover:text-white') %>
  </div>
  <% if Rails.env.development? %>
    <%= oauth_session.try(:auth_token) %>
  <% end %>
  <% if oauth_session.authenticated? %>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto justify-end">
      <div>
        <%= link_to('Sign Out', logout_sessions_path, method: :delete, class: 'inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0') %>
      </div>
    </div>
  <% elsif params[:controller] != "sessions" %>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto justify-end">
      <div>
        <%= link_to('Sign In', new_session_path, class: 'inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0') %>
      </div>
    </div>
  <% end %>
</nav>